/* *{
    border: 1px solid red;
} */
.top-bar-nav {
    text-align: center;
    padding: 10px;
}

.top-bar-text {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.logo-image {
    max-width: 80%;
    height: auto;
}

.text-center {
    text-align: center;
}

.logo-wrapper {
    margin-top: 0 !important;
    padding: 15px 0px 15px 40px;
}

.united-health-care-image {
    width: 200px;
    height: auto;
}
.monthly-premium, .choice-plan-2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 1rem;
    padding: 0 1rem;
}
.medicare-advantage-grid, .monthly-premium-grid{
    display: flex;
    align-items: center;
}
/* MEDIA QUERY FOR LOGO SIZE */
@media only screen and (max-width: 1280px) {
    .logo-wrapper {
        text-align: center;
        padding: 20px 0;
    }
}